src/examples/web/examples/employees/import-ws/import.wsdl

<!--
    Copyright 2004 Orbeon, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<definitions xmlns:tns="http://example.com/employee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://example.com/employee" targetNamespace="http://example.com/employee" name="YIM Service">
	<types>
		<xsd:schema targetNamespace="http://example.com/employee" elementFormDefault="qualified">
			<xsd:element name="employees">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="employee" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="id" type="xsd:integer"/>
									<xsd:element name="firstname" type="xsd:string"/>
									<xsd:element name="lastname" type="xsd:string"/>
									<xsd:element name="phone" type="xsd:string"/>
									<xsd:element name="title" type="xsd:string"/>
									<xsd:element name="age" type="xsd:integer"/>
									<xsd:element name="manger-id" type="xsd:integer"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="message">
		<part name="employees" element="tns:employees"/>
	</message>
	<portType name="portType">
		<operation name="import">
			<input message="tns:message"/>
		</operation>
	</portType>
	<binding name="binding" type="tns:portType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="import">
			<soap:operation/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:example.com"/>
			</input>
		</operation>
	</binding>
	<service name="service">
		<port name="port" binding="tns:binding">
			<soap:address location="http://localhost:8888/employee-demo/import-ws"/>
		</port>
	</service>
</definitions>
