src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/maindoc/UBL-OrderCancellation-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)

  Schema generated by UBL inter-schema helper (UBLish) v1.0-beta.11
      (http://SoftML.Net/jedi/ubl/sw/UBLish)
  Running on XPS v3.3 (http://SoftML.Net/xps)


  Document Type:     OrderCancellation
  Generated On:      Wed Nov 12 02:50:11 2003
-->
<xsd:schema version="1:0-beta"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:oasis:names:tc:ubl:OrderCancellation:1:0-beta"
  xmlns="urn:oasis:names:tc:ubl:OrderCancellation:1:0-beta"
  xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
  xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
  xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
  xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
   schemaLocation="../common/UBL-CoreComponentParameters-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
   schemaLocation="../common/UBL-RepresentationTerms-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
   schemaLocation="../common/UBL-Reusable-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-DocumentStatusCode-Use-1.0-beta.xsd" />
  <xsd:element name="OrderCancellation" type="OrderCancellationType" />
  <xsd:complexType name="OrderCancellationType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:CategoryCode>ABIE</ccts:CategoryCode>
          <ccts:DictionaryEntryName>Order Cancellation. Details</ccts:DictionaryEntryName>
          <ccts:Definition>The document that advises either party of the cancellation of an Order</ccts:Definition>
          <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
          <ccts:PropertyTerm>Details</ccts:PropertyTerm>
          <ccts:RepresentationTerm>Details</ccts:RepresentationTerm>
        </ccts:Component>
        <ccts:Instance>
          <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
          <ccts:Prefix>xo</ccts:Prefix>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cat:ID" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>The unique number given to the order cancellation by the sender or buyer.</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false) </ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Globally Unique_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>GloballyUnique</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="IssueDateTime" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Issue Date Time. Date Time</ccts:DictionaryEntryName>
              <ccts:Definition>A date (and potentially time) stamp denoting when the order cancellation was issued.</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue_DateTime</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
              <ccts:DataType>DateTime.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DocumentStatusCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Document Status. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state.</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Document_Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>stat</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>A note containing any other relevant information</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="CancellationNote" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Cancellation Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>The reason for cancellation of the referenced order.</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Cancellation_Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ResponseRequiredIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Response Required. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether the sender of the cancellation requires a response to this message by its return (true) or not (false).</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Response_Required</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="AcceptedIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Accepted. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether the order cancellation was accepted (if the message is responded to)(true) or not (false)</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>Accepted</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:OrderReference" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies one or more Orders to be cancelled</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>OrderReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>OrderReference</ccts:RepresentationTerm>
              <ccts:DataType>OrderReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>OrderReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>BuyerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>BuyerParty</ccts:RepresentationTerm>
              <ccts:DataType>BuyerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>BuyerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Cancellation. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderCancellation</ccts:ObjectClass>
              <ccts:PropertyTerm>SellerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SellerParty</ccts:RepresentationTerm>
              <ccts:DataType>SellerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SellerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AcceptedIndicator" type="rt:IndicatorType"/>
  <xsd:element name="CancellationNote" type="rt:TextType"/>
  <xsd:element name="DocumentStatusCode" type="stat:DerivedCodeType"/>
  <xsd:element name="IssueDateTime" type="rt:DateTimeType"/>
  <xsd:element name="ResponseRequiredIndicator" type="rt:IndicatorType"/>
</xsd:schema>
