src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/maindoc/UBL-Invoice-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Dummy Dummy (Dummy) -->
<!--
  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)

  Schema generated by UBL inter-schema helper (UBLish) v1.0-beta.11
      (http://SoftML.Net/jedi/ubl/sw/UBLish)
  Running on XPS v3.3 (http://SoftML.Net/xps)


  Document Type:     Invoice
  Generated On:      Wed Nov 12 02:49:55 2003
-->
<xsd:schema targetNamespace="urn:oasis:names:tc:ubl:Invoice:1:0-beta" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:ubl:Invoice:1:0-beta" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta" xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta" xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta" xmlns:intyp="urn:oasis:names:tc:ubl:codelist:InvoiceTypeCode:1:0-beta" xmlns:cur="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0-beta" xmlns:xdb="http://xmlns.oracle.com/xdb" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1:0-beta">
    <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta" schemaLocation="../common/UBL-CoreComponentParameters-1.0-beta.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta" schemaLocation="../common/UBL-RepresentationTerms-1.0-beta.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta" schemaLocation="../common/UBL-Reusable-1.0-beta.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:InvoiceTypeCode:1:0-beta" schemaLocation="../codelist/use/UBL-CodeList-InvoiceTypeCode-Use-1.0-beta.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0-beta" schemaLocation="../codelist/use/UBL-CodeList-CurrencyCode-Use-1.0-beta.xsd"/>
    <xsd:element name="Invoice" type="InvoiceType"/>
    <xsd:complexType name="InvoiceType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:Component>
                    <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                    <ccts:DictionaryEntryName>Invoice. Details</ccts:DictionaryEntryName>
                    <ccts:Definition>The document that describes the finanical commitment of the Order</ccts:Definition>
                    <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                    <ccts:PropertyTerm>Details</ccts:PropertyTerm>
                    <ccts:RepresentationTerm>Details</ccts:RepresentationTerm>
                </ccts:Component>
                <ccts:Instance>
                    <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
                    <ccts:Prefix>in</ccts:Prefix>
                </ccts:Instance>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="cat:ID">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Identifier</ccts:DictionaryEntryName>
                            <ccts:Definition>The unique number assigned to the invoice by the seller (invoicer) </ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                            <ccts:DataType>Identifier.Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:CopyIndicator" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Copy. Indicator</ccts:DictionaryEntryName>
                            <ccts:Definition>Indicates whether a document is a copy (true) or not (false) </ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                            <ccts:DataType>Indicator.Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:GUID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Globally Unique_  Identifier. Identifier</ccts:DictionaryEntryName>
                            <ccts:Definition>A computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:QualifierPropertyTerm>GloballyUnique</ccts:QualifierPropertyTerm>
                            <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                            <ccts:DataType>Identifier.Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:IssueDate">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Issue Date. Date</ccts:DictionaryEntryName>
                            <ccts:Definition>The date when the invoice was issued</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Issue_Date</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                            <ccts:DataType>Date_DateTime.Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="InvoiceTypeCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Invoice Type. Code</ccts:DictionaryEntryName>
                            <ccts:Definition>Identifies the type of the Invoice by a code.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Invoice_Type</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                            <ccts:DataType>Code.Type</ccts:DataType>
                        </ccts:Component>
                        <ccts:Instance>
                            <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
                            <ccts:Prefix>intyp</ccts:Prefix>
                        </ccts:Instance>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:Note" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Note. Text</ccts:DictionaryEntryName>
                            <ccts:Definition>Contains any free form text pertinent to the entire document or to the document message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure. </ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Note</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                            <ccts:DataType>Text.Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="TaxPointDate">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Tax Point Date. Date</ccts:DictionaryEntryName>
                            <ccts:Definition>The date of the invoice for tax purposes, in accordance with the applicable tax regulation.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>TaxPoint_Date</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                            <ccts:DataType>Date_DateTime.Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="InvoiceCurrencyCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Invoice Currency. Code</ccts:DictionaryEntryName>
                            <ccts:Definition>The currency in which the Invoice is presented. This may be the same currency as the pricing or as the tax.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Invoice_Currency</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                            <ccts:DataType>Code.Type</ccts:DataType>
                        </ccts:Component>
                        <ccts:Instance>
                            <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
                            <ccts:Prefix>cur</ccts:Prefix>
                        </ccts:Instance>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="TaxCurrencyCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Tax Currency. Code</ccts:DictionaryEntryName>
                            <ccts:Definition>The currency in which the tax on the Invoice is presented. This may be the same currency as the pricing or as the Invoice itself.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Tax_Currency</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                            <ccts:DataType>Code.Type</ccts:DataType>
                        </ccts:Component>
                        <ccts:Instance>
                            <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
                            <ccts:Prefix>cur</ccts:Prefix>
                        </ccts:Instance>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="PricingCurrencyCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Pricing Currency. Code</ccts:DictionaryEntryName>
                            <ccts:Definition>The currency in which the prices are specified. This may be the same currency as the Invoice itself or as the tax.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Pricing_Currency</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                            <ccts:DataType>Code.Type</ccts:DataType>
                        </ccts:Component>
                        <ccts:Instance>
                            <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
                            <ccts:Prefix>cur</ccts:Prefix>
                        </ccts:Instance>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="LineItemCountQuantity" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. LineItem Count. Quantity</ccts:DictionaryEntryName>
                            <ccts:Definition>The number of line items</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>LineItem_Count</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                            <ccts:DataType>Quantity.Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:OrderReference" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Order Reference</ccts:DictionaryEntryName>
                            <ccts:Definition>Provides a means of associating an Invoice with one or more Orders</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>OrderReference</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>OrderReference</ccts:RepresentationTerm>
                            <ccts:DataType>OrderReference.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>OrderReference</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DespatchDocumentReference" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Despatch_  Document Reference. Document Reference</ccts:DictionaryEntryName>
                            <ccts:Definition>Provides a means of associating an Invoice with one or more Despatch Advices</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:QualifierPropertyTerm>Despatch</ccts:QualifierPropertyTerm>
                            <ccts:PropertyTerm>DocumentReference</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>DocumentReference</ccts:RepresentationTerm>
                            <ccts:DataType>DocumentReference.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>DocumentReference</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ReceiptDocumentReference" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Receipt_  Document Reference. Document Reference</ccts:DictionaryEntryName>
                            <ccts:Definition>Provides a means of associating an Invoice with one or more Receipt Advices</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:QualifierPropertyTerm>Receipt</ccts:QualifierPropertyTerm>
                            <ccts:PropertyTerm>DocumentReference</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>DocumentReference</ccts:RepresentationTerm>
                            <ccts:DataType>DocumentReference.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>DocumentReference</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Additional_  Document Reference. Document Reference</ccts:DictionaryEntryName>
                            <ccts:Definition>Provides other means of identifying an Invoice </ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:QualifierPropertyTerm>Additional</ccts:QualifierPropertyTerm>
                            <ccts:PropertyTerm>DocumentReference</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>DocumentReference</ccts:RepresentationTerm>
                            <ccts:DataType>DocumentReference.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>DocumentReference</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:BuyerParty">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Buyer Party</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>BuyerParty</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>BuyerParty</ccts:RepresentationTerm>
                            <ccts:DataType>BuyerParty.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>BuyerParty</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:SellerParty">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Seller Party</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the Order with information about the seller involved in the transaction.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>SellerParty</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>SellerParty</ccts:RepresentationTerm>
                            <ccts:DataType>SellerParty.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>SellerParty</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:Delivery" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Delivery</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the overall invoice with the details of a delivery (or deliveries)</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Delivery</ccts:RepresentationTerm>
                            <ccts:DataType>Delivery.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:PaymentMeans" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Payment Means</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the invoice with the expected means of payment.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>PaymentMeans</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>PaymentMeans</ccts:RepresentationTerm>
                            <ccts:DataType>PaymentMeans.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>PaymentMeans</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:PaymentTerms" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Payment Terms</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the invoice with the payment terms applicable/offered.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>PaymentTerms</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>PaymentTerms</ccts:RepresentationTerm>
                            <ccts:DataType>PaymentTerms.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>PaymentTerms</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Allowance Charge</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the invoice with an overall charge or allowance.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>AllowanceCharge</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>AllowanceCharge</ccts:RepresentationTerm>
                            <ccts:DataType>AllowanceCharge.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>AllowanceCharge</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:ExchangeRate" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Exchange Rate</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the invoice with an exchange rate. In any one invoice there is only one exchange rate needed, either between invoicing at tax currency, or between pricing and invoice totalling.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>ExchangeRate</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>ExchangeRate</ccts:RepresentationTerm>
                            <ccts:DataType>ExchangeRate.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>ExchangeRate</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:TaxTotal" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Tax Total</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the invoice with summary information for a particular tax.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>TaxTotal</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>TaxTotal</ccts:RepresentationTerm>
                            <ccts:DataType>TaxTotal.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>TaxTotal</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:LegalTotal">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Legal Total</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the invoice with a set of totals required for the invoice to be a legal document.</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>LegalTotal</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>LegalTotal</ccts:RepresentationTerm>
                            <ccts:DataType>LegalTotal.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>LegalTotal</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cat:InvoiceLine" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                            <ccts:DictionaryEntryName>Invoice. Invoice Line</ccts:DictionaryEntryName>
                            <ccts:Definition>An invoice has one or more invoice lines</ccts:Definition>
                            <ccts:ObjectClass>Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>InvoiceLine</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>InvoiceLine</ccts:RepresentationTerm>
                            <ccts:DataType>InvoiceLine.Type</ccts:DataType>
                            <ccts:AssociatedObjectClass>InvoiceLine</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AdditionalDocumentReference" type="cat:DocumentReferenceType"/>
    <xsd:element name="DespatchDocumentReference" type="cat:DocumentReferenceType"/>
    <xsd:element name="InvoiceCurrencyCode" type="cur:DerivedCodeType"/>
    <xsd:element name="InvoiceTypeCode" type="intyp:DerivedCodeType"/>
    <xsd:element name="LineItemCountQuantity" type="rt:QuantityType"/>
    <xsd:element name="PricingCurrencyCode" type="cur:DerivedCodeType"/>
    <xsd:element name="ReceiptDocumentReference" type="cat:DocumentReferenceType"/>
    <xsd:element name="TaxCurrencyCode" type="cur:DerivedCodeType"/>
    <xsd:element name="TaxPointDate" type="rt:DateType"/>
</xsd:schema>
