src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/maindoc/UBL-OrderResponse-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)

  Schema generated by UBL inter-schema helper (UBLish) v1.0-beta.11
      (http://SoftML.Net/jedi/ubl/sw/UBLish)
  Running on XPS v3.3 (http://SoftML.Net/xps)


  Document Type:     OrderResponse
  Generated On:      Wed Nov 12 02:50:25 2003
-->
<xsd:schema version="1:0-beta"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:oasis:names:tc:ubl:OrderResponse:1:0-beta"
  xmlns="urn:oasis:names:tc:ubl:OrderResponse:1:0-beta"
  xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
  xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
  xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
  xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
  xmlns:cur="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0-beta"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
   schemaLocation="../common/UBL-CoreComponentParameters-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
   schemaLocation="../common/UBL-RepresentationTerms-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
   schemaLocation="../common/UBL-Reusable-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-DocumentStatusCode-Use-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-CurrencyCode-Use-1.0-beta.xsd" />
  <xsd:element name="OrderResponse" type="OrderResponseType" />
  <xsd:complexType name="OrderResponseType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:CategoryCode>ABIE</ccts:CategoryCode>
          <ccts:DictionaryEntryName>Order Response. Details</ccts:DictionaryEntryName>
          <ccts:Definition>The document responding to the Buyer to indicate detailed responses against a single Order.</ccts:Definition>
          <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
          <ccts:PropertyTerm>Details</ccts:PropertyTerm>
          <ccts:RepresentationTerm>Details</ccts:RepresentationTerm>
          <ccts:BusinessTerm>Order Acknowledgement, PO Response</ccts:BusinessTerm>
        </ccts:Component>
        <ccts:Instance>
          <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
          <ccts:Prefix>ro</ccts:Prefix>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cat:BuyersID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Buyers_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A unique identification assigned to the OrderResponse in respect to the Buyer party</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Buyers</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellersID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Sellers_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>The identification given to an OrderResponse by the seller.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Sellers</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false) </ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Globally Unique_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>GloballyUnique</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>A date (and potentially time) stamp denoting when the Order Response was issued.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DocumentStatusCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Document Status. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Document_Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>stat</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>Contains any free form text pertinent to the entire document or to the document message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure. </ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="TransactionCurrencyCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Transaction Currency. Code</ccts:DictionaryEntryName>
              <ccts:Definition>The default currency of the Responded Order transaction, which will be used for Invoicing.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Transaction_Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>cur</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="PricingCurrencyCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Pricing Currency. Code</ccts:DictionaryEntryName>
              <ccts:Definition>The currency in which all pricing on the transaction will be specified.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Pricing_Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>cur</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="EarliestDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Earliest Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>The starting date on or after which Responded Order should be considered valid</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Earliest_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="CancelledByDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Cancelled By Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>The date on or after which Responded Order should be cancelled.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>CancelledBy_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ValidityDurationMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Validity Duration. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The period for which the Responded Order is valid.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Validity_Duration</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:TaxTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Tax Total. Amount</ccts:DictionaryEntryName>
              <ccts:Definition>The total tax amount for the Responded Order.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Tax_Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:LineExtensionTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Line_ Extension Total. Amount</ccts:DictionaryEntryName>
              <ccts:Definition>The total of line item extension amounts for the entire Responded Order, but not adjusted by any payment settlement discount or taxation.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Line</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Extension_Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="TotalPackagesCountQuantity" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Total_ Packages Count. Quantity</ccts:DictionaryEntryName>
              <ccts:Definition>The count of the total number of packages contained in the Responded Order.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Total</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Packages_Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GrossWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Gross_  Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total gross weight of the Responded Order. (goods plus packaging plus transport equipment)</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Gross</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:NetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Net_  Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total net weight of the Responded Order. (goods plus packaging)</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Net</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:NetNetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Net Net_  Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The weight (mass) of the goods themselves without any packing. </ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>NetNet</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GrossVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Gross_  Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total volume of the goods plus packaging on the Responded Order.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Gross</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:NetVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Net_  Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total volume of the Responded Order. (goods less packaging)</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Net</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="LineItemCountQuantity" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. LineItem Count. Quantity</ccts:DictionaryEntryName>
              <ccts:Definition>A count of the number of Line Items on the Responded Order.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>LineItem_Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:OrderReference" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order Response with one or more Orders it refers to.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>OrderReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>OrderReference</ccts:RepresentationTerm>
              <ccts:DataType>OrderReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>OrderReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>BuyerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>BuyerParty</ccts:RepresentationTerm>
              <ccts:DataType>BuyerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>BuyerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>SellerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SellerParty</ccts:RepresentationTerm>
              <ccts:DataType>SellerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SellerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="OriginatorParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Originator_  Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with information about the originator of the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Originator</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
              <ccts:DataType>Party.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="FreightForwarderParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Freight Forwarder_  Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with information about the freight forwarder involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>FreightForwarder</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
              <ccts:DataType>Party.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Delivery" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Delivery</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with a delivery (or deliveries) </ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Delivery</ccts:RepresentationTerm>
              <ccts:DataType>Delivery.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:DeliveryTerms" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Delivery Terms</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with delivery terms agreed between seller and buyer with regard to the delivery of goods.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>DeliveryTerms</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DeliveryTerms</ccts:RepresentationTerm>
              <ccts:DataType>DeliveryTerms.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DeliveryTerms</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Allowance Charge</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with one or more pricing components for overall charges allowances etc.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>AllowanceCharge</ccts:PropertyTerm>
              <ccts:RepresentationTerm>AllowanceCharge</ccts:RepresentationTerm>
              <ccts:DataType>AllowanceCharge.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>AllowanceCharge</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SalesConditions" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Sales Conditions</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with one sales conditions applying to the whole order response.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:PropertyTerm>SalesConditions</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SalesConditions</ccts:RepresentationTerm>
              <ccts:DataType>SalesConditions.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SalesConditions</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DestinationCountry" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Destination_  Country. Country</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with the country to which it is destined, for Customs purposes. </ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Destination</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Country</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Country</ccts:RepresentationTerm>
              <ccts:DataType>Country.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Country</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="RespondedOrderLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response. Responded_  Order Line. Order Line</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the order response with one or more Order Lines.  NB these are not ReferenceOrderLines - they describe actual Order Lines.</ccts:Definition>
              <ccts:ObjectClass>OrderResponse</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Responded</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>OrderLine</ccts:PropertyTerm>
              <ccts:RepresentationTerm>OrderLine</ccts:RepresentationTerm>
              <ccts:DataType>OrderLine.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>OrderLine</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CancelledByDate" type="rt:DateType"/>
  <xsd:element name="DestinationCountry" type="cat:CountryType"/>
  <xsd:element name="DocumentStatusCode" type="stat:DerivedCodeType"/>
  <xsd:element name="EarliestDate" type="rt:DateType"/>
  <xsd:element name="FreightForwarderParty" type="cat:PartyType"/>
  <xsd:element name="LineItemCountQuantity" type="rt:QuantityType"/>
  <xsd:element name="OriginatorParty" type="cat:PartyType"/>
  <xsd:element name="PricingCurrencyCode" type="cur:DerivedCodeType"/>
  <xsd:element name="RespondedOrderLine" type="cat:OrderLineType"/>
  <xsd:element name="TotalPackagesCountQuantity" type="rt:QuantityType"/>
  <xsd:element name="TransactionCurrencyCode" type="cur:DerivedCodeType"/>
  <xsd:element name="ValidityDurationMeasure" type="rt:MeasureType"/>
</xsd:schema>
