src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/maindoc/UBL-DespatchAdvice-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)

  Schema generated by UBL inter-schema helper (UBLish) v1.0-beta.11
      (http://SoftML.Net/jedi/ubl/sw/UBLish)
  Running on XPS v3.3 (http://SoftML.Net/xps)


  Document Type:     DespatchAdvice
  Generated On:      Wed Nov 12 02:49:50 2003
-->
<xsd:schema version="1:0-beta"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:oasis:names:tc:ubl:DespatchAdvice:1:0-beta"
  xmlns="urn:oasis:names:tc:ubl:DespatchAdvice:1:0-beta"
  xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
  xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
  xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
  xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
  xmlns:datyp="urn:oasis:names:tc:ubl:codelist:DespatchAdviceTypeCode:1:0-beta"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
   schemaLocation="../common/UBL-CoreComponentParameters-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
   schemaLocation="../common/UBL-RepresentationTerms-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
   schemaLocation="../common/UBL-Reusable-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-DocumentStatusCode-Use-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DespatchAdviceTypeCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-DespatchAdviceTypeCode-Use-1.0-beta.xsd" />
  <xsd:element name="DespatchAdvice" type="DespatchAdviceType" />
  <xsd:complexType name="DespatchAdviceType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:CategoryCode>ABIE</ccts:CategoryCode>
          <ccts:DictionaryEntryName>Despatch Advice. Details</ccts:DictionaryEntryName>
          <ccts:Definition>The document that describes the content of goods shipped</ccts:Definition>
          <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
          <ccts:PropertyTerm>Details</ccts:PropertyTerm>
          <ccts:RepresentationTerm>Details</ccts:RepresentationTerm>
          <ccts:BusinessTerm>Ship Note, Packing Slip, Dispatch Advice, Consignment Note</ccts:BusinessTerm>
        </ccts:Component>
        <ccts:Instance>
          <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
          <ccts:Prefix>da</ccts:Prefix>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cat:ID" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>Holds the unique number that identifies the Despatch Advice, typically according to the seller's system that generated the Despatch Advice</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false) </ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Globally Unique_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>GloballyUnique</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>The date when the Despatch Advice was issued.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_DateTime.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DocumentStatusCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Document Status. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Document_Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>stat</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DespatchAdviceTypeCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Despatch Advice  Type. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the type of the Despatch Advice.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>DespatchAdvice_Type</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>datyp</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>Contains any free form text pertinent to the entire Despatch Advice or to the Despatch Advice message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure. </ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="LineItemCountQuantity" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. LineItem Count. Quantity</ccts:DictionaryEntryName>
              <ccts:Definition>The number of line items</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>LineItem_Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
              <ccts:DataType>Quantity.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:OrderReference" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies one or more Orders for the Despatch Advice</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>OrderReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>OrderReference</ccts:RepresentationTerm>
              <ccts:DataType>OrderReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>OrderReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>BuyerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>BuyerParty</ccts:RepresentationTerm>
              <ccts:DataType>BuyerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>BuyerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>SellerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SellerParty</ccts:RepresentationTerm>
              <ccts:DataType>SellerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SellerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="FreightForwarderParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Freight Forwarder_  Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the despatch advice with information about the freight forwarder involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>FreightForwarder</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
              <ccts:DataType>Party.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Delivery" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Delivery</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the despatch advice with a delivery  (or deliveries).</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Delivery</ccts:RepresentationTerm>
              <ccts:DataType>Delivery.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:DeliveryTerms" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Delivery Terms</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the despatch advice with the terms agreed between seller and buyer with regard to the delivery of goods.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>DeliveryTerms</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DeliveryTerms</ccts:RepresentationTerm>
              <ccts:DataType>DeliveryTerms.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DeliveryTerms</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DespatchedTransportHandlingUnit" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Despatched_  Transport Handling Unit. Transport Handling Unit</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the despatch advice with zero or more transport handling units (THU). The advice may be organised in this way with despatch 'lines' within each THU.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Despatched</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>TransportHandlingUnit</ccts:PropertyTerm>
              <ccts:RepresentationTerm>TransportHandlingUnit</ccts:RepresentationTerm>
              <ccts:DataType>TransportHandlingUnit.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>TransportHandlingUnit</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ActualShipment" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Actual_  Shipment. Shipment</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the despatch advice with actual shipment detail. (Note that this relationship comes into play when the transaction has moved from the order state to the delivery state.)</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Actual</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Shipment</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Shipment</ccts:RepresentationTerm>
              <ccts:DataType>Shipment.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Shipment</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:DespatchLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Despatch Advice. Despatch Line</ccts:DictionaryEntryName>
              <ccts:Definition>Despatch 'line(s)', annotated to show which transport handling units (THU) each line is within. If THUs are not used, there is just a series of despatch 'lines' with no THU annotation.</ccts:Definition>
              <ccts:ObjectClass>DespatchAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>DespatchLine</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DespatchLine</ccts:RepresentationTerm>
              <ccts:DataType>DespatchLine.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DespatchLine</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ActualShipment" type="cat:ShipmentType"/>
  <xsd:element name="DespatchAdviceTypeCode" type="datyp:DerivedCodeType"/>
  <xsd:element name="DespatchedTransportHandlingUnit" type="cat:TransportHandlingUnitType"/>
  <xsd:element name="DocumentStatusCode" type="stat:DerivedCodeType"/>
  <xsd:element name="FreightForwarderParty" type="cat:PartyType"/>
  <xsd:element name="LineItemCountQuantity" type="rt:QuantityType"/>
</xsd:schema>
