src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/maindoc/UBL-ReceiptAdvice-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)

  Schema generated by UBL inter-schema helper (UBLish) v1.0-beta.11
      (http://SoftML.Net/jedi/ubl/sw/UBLish)
  Running on XPS v3.3 (http://SoftML.Net/xps)


  Document Type:     ReceiptAdvice
  Generated On:      Wed Nov 12 02:50:37 2003
-->
<xsd:schema version="1:0-beta"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:oasis:names:tc:ubl:ReceiptAdvice:1:0-beta"
  xmlns="urn:oasis:names:tc:ubl:ReceiptAdvice:1:0-beta"
  xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
  xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
  xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
  xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
   schemaLocation="../common/UBL-CoreComponentParameters-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
   schemaLocation="../common/UBL-RepresentationTerms-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
   schemaLocation="../common/UBL-Reusable-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-DocumentStatusCode-Use-1.0-beta.xsd" />
  <xsd:element name="ReceiptAdvice" type="ReceiptAdviceType" />
  <xsd:complexType name="ReceiptAdviceType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:CategoryCode>ABIE</ccts:CategoryCode>
          <ccts:DictionaryEntryName>Receipt Advice. Details</ccts:DictionaryEntryName>
          <ccts:Definition>The document that advises the goods received and accepted by the buyer</ccts:Definition>
          <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
          <ccts:PropertyTerm>Details</ccts:PropertyTerm>
          <ccts:RepresentationTerm>Details</ccts:RepresentationTerm>
        </ccts:Component>
        <ccts:Instance>
          <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
          <ccts:Prefix>ra</ccts:Prefix>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cat:ID" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>Holds the unique number that identifies the receipt advice, typically according to the buyer's system that generated the receipt advice</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false) </ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Globally Unique_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>GloballyUnique</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>The date when the receipt advice was issued.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_DateTime.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DocumentStatusCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Document Status. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Document_Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>stat</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>Notes or any other textual information, pertinent to the entire receipt advice, that is not contained explicitly in another structure. </ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:OrderReference" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the receipt advice with one or more Orders that it relates to.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>OrderReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>OrderReference</ccts:RepresentationTerm>
              <ccts:DataType>OrderReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>OrderReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DespatchDocumentReference" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Despatch_  Document Reference. Document Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the receipt advice with one or more Despatch advices that it relates to.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Despatch</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>DocumentReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DocumentReference</ccts:RepresentationTerm>
              <ccts:DataType>DocumentReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DocumentReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>BuyerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>BuyerParty</ccts:RepresentationTerm>
              <ccts:DataType>BuyerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>BuyerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>SellerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SellerParty</ccts:RepresentationTerm>
              <ccts:DataType>SellerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SellerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="FreightForwarderParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Freight Forwarder_  Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the receipt advice with information about the freight forwarder involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>FreightForwarder</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
              <ccts:DataType>Party.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Delivery" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Delivery</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the receipt advice with a delivery  (or deliveries).</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Delivery</ccts:RepresentationTerm>
              <ccts:DataType>Delivery.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ReceivedTransportHandlingUnit" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Received_  Transport Handling Unit. Transport Handling Unit</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the receipt advice with zero or more transport handling units (THU). The advice may be organised in this way with receipt 'lines' within each THU.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Received</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>TransportHandlingUnit</ccts:PropertyTerm>
              <ccts:RepresentationTerm>TransportHandlingUnit</ccts:RepresentationTerm>
              <ccts:DataType>TransportHandlingUnit.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>TransportHandlingUnit</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:ReceiptLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Receipt Advice. Receipt Line</ccts:DictionaryEntryName>
              <ccts:Definition>Receipt 'line(s)', annotated to show which transport handling units (THU) each line is within. If THUs are not used, there is just a series of receipt 'lines' with no THU annotation.</ccts:Definition>
              <ccts:ObjectClass>ReceiptAdvice</ccts:ObjectClass>
              <ccts:PropertyTerm>ReceiptLine</ccts:PropertyTerm>
              <ccts:RepresentationTerm>ReceiptLine</ccts:RepresentationTerm>
              <ccts:DataType>ReceiptLine.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>ReceiptLine</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DespatchDocumentReference" type="cat:DocumentReferenceType"/>
  <xsd:element name="DocumentStatusCode" type="stat:DerivedCodeType"/>
  <xsd:element name="FreightForwarderParty" type="cat:PartyType"/>
  <xsd:element name="ReceivedTransportHandlingUnit" type="cat:TransportHandlingUnitType"/>
</xsd:schema>
