src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/maindoc/UBL-Order-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)

  Schema generated by UBL inter-schema helper (UBLish) v1.0-beta.11
      (http://SoftML.Net/jedi/ubl/sw/UBLish)
  Running on XPS v3.3 (http://SoftML.Net/xps)


  Document Type:     Order
  Generated On:      Wed Nov 12 02:50:01 2003
-->
<xsd:schema version="1:0-beta"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:oasis:names:tc:ubl:Order:1:0-beta"
  xmlns="urn:oasis:names:tc:ubl:Order:1:0-beta"
  xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
  xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
  xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
  xmlns:res="urn:oasis:names:tc:ubl:codelist:OrderAcknowledgementCode:1:0-beta"
  xmlns:cur="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0-beta"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
   schemaLocation="../common/UBL-CoreComponentParameters-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
   schemaLocation="../common/UBL-RepresentationTerms-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
   schemaLocation="../common/UBL-Reusable-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:OrderAcknowledgementCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-OrderAcknowledgementCode-Use-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:CurrencyCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-CurrencyCode-Use-1.0-beta.xsd" />
  <xsd:element name="Order" type="OrderType" />
  <xsd:complexType name="OrderType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:CategoryCode>ABIE</ccts:CategoryCode>
          <ccts:DictionaryEntryName>Order. Details</ccts:DictionaryEntryName>
          <ccts:Definition>A document that contains information directly relating to the economic event of ordering products.</ccts:Definition>
          <ccts:ObjectClass>Order</ccts:ObjectClass>
          <ccts:PropertyTerm>Details</ccts:PropertyTerm>
          <ccts:RepresentationTerm>Details</ccts:RepresentationTerm>
          <ccts:BusinessTerm>Purchase Order</ccts:BusinessTerm>
        </ccts:Component>
        <ccts:Instance>
          <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
          <ccts:Prefix>po</ccts:Prefix>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cat:BuyersID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Buyers_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A unique identification assigned to the Order in respect to the Buyer party</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Buyers</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellersID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Sellers_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>The identification given to an Order by the seller.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Sellers</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false) </ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Globally Unique_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>GloballyUnique</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>A date (and potentially time) stamp denoting when the Order was issued.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_DateTime.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>Contains any free form text pertinent to the entire document or to the document message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure. </ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="AcknowledgementResponseCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Acknowledgement Response. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Specifies the type of Response for the Order that the Buyer requires from the Seller.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Acknowledgement_Response</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>res</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="TransactionCurrencyCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Transaction Currency. Code</ccts:DictionaryEntryName>
              <ccts:Definition>The default currency of the transaction, to be used for Invoicing.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Transaction_Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>cur</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="PricingCurrencyCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Pricing Currency. Code</ccts:DictionaryEntryName>
              <ccts:Definition>The currency in which all pricing on the transaction will be specified.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Pricing_Currency</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>cur</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="EarliestDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Earliest Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>The starting date on or after which Order should be considered valid</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Earliest_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_DateTime.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="CancelledByDate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Cancelled By Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>The date on or after which Order should be cancelled if not satisfied.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>CancelledBy_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_DateTime.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ValidityDurationMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Validity Duration. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The period for which the Order is valid.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Validity_Duration</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:TaxTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Tax Total. Amount</ccts:DictionaryEntryName>
              <ccts:Definition>The total tax amount to be paid for the Order.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Tax_Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
              <ccts:DataType>Amount.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:LineExtensionTotalAmount" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Line_ Extension Total. Amount</ccts:DictionaryEntryName>
              <ccts:Definition>The total of line item extension amounts for the entire Order, but not adjusted by any payment settlement discount or taxation.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Line</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Extension_Total</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
              <ccts:DataType>Amount.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="TotalPackagesQuantity" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Total_ Packages Quantity. Quantity</ccts:DictionaryEntryName>
              <ccts:Definition>The count of the total number of packages contained in the Order.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Total</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Packages_Quantity</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
              <ccts:DataType>Quantity.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GrossWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Gross_  Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total gross weight of the order. (goods plus packaging plus transport equipment)</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Gross</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:NetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Net_  Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total net weight of the order. (goods plus packaging)</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Net</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:NetNetWeightMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Net Net_  Weight. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The weight (mass) of the goods themselves without any packing. </ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>NetNet</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GrossVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Gross_  Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total volume of the goods plus packaging on the Order.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Gross</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:NetVolumeMeasure" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Net_  Volume. Measure</ccts:DictionaryEntryName>
              <ccts:Definition>The total volume of the Order. (goods less packaging)</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Net</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
              <ccts:DataType>Measure.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="LineItemCountQuantity" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. LineItem Count. Quantity</ccts:DictionaryEntryName>
              <ccts:Definition>The number of line items</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>LineItem_Count</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
              <ccts:DataType>Quantity.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="ContractDocumentReference" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Contract_  Document Reference. Document Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with a previously agreed Contract.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Contract</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>DocumentReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DocumentReference</ccts:RepresentationTerm>
              <ccts:DataType>DocumentReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DocumentReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="QuoteDocumentReference" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Quote_  Document Reference. Document Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with a prior quote.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Quote</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>DocumentReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DocumentReference</ccts:RepresentationTerm>
              <ccts:DataType>DocumentReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DocumentReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Additional_  Document Reference. Document Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with one or more other identification means</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Additional</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>DocumentReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DocumentReference</ccts:RepresentationTerm>
              <ccts:DataType>DocumentReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DocumentReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>BuyerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>BuyerParty</ccts:RepresentationTerm>
              <ccts:DataType>BuyerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>BuyerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>SellerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SellerParty</ccts:RepresentationTerm>
              <ccts:DataType>SellerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SellerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="OriginatorParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Originator_  Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the originator of the transaction.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Originator</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
              <ccts:DataType>Party.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="FreightForwarderParty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Freight Forwarder_  Party. Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the freight forwarder involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>FreightForwarder</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Party</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
              <ccts:DataType>Party.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
              <ccts:BusinessTerm>Carrier</ccts:BusinessTerm>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Delivery" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Delivery</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with a delivery  (or deliveries)</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Delivery</ccts:RepresentationTerm>
              <ccts:DataType>Delivery.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:DeliveryTerms" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Delivery Terms</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with the delivery terms agreed between seller and buyer with regard to the delivery of goods.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>DeliveryTerms</ccts:PropertyTerm>
              <ccts:RepresentationTerm>DeliveryTerms</ccts:RepresentationTerm>
              <ccts:DataType>DeliveryTerms.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>DeliveryTerms</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Allowance Charge</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with one or more pricing components for overall charges allowances etc.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>AllowanceCharge</ccts:PropertyTerm>
              <ccts:RepresentationTerm>AllowanceCharge</ccts:RepresentationTerm>
              <ccts:DataType>AllowanceCharge.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>AllowanceCharge</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SalesConditions" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Sales Conditions</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with a sales condition applying to the whole order.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>SalesConditions</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SalesConditions</ccts:RepresentationTerm>
              <ccts:DataType>SalesConditions.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SalesConditions</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DestinationCountry" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Destination_  Country. Country</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with the country of destination (for Customs purposes). </ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>Destination</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Country</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Country</ccts:RepresentationTerm>
              <ccts:DataType>Country.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>Country</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:OrderLine" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order. Order Line</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with one or more Line items.</ccts:Definition>
              <ccts:ObjectClass>Order</ccts:ObjectClass>
              <ccts:PropertyTerm>OrderLine</ccts:PropertyTerm>
              <ccts:RepresentationTerm>OrderLine</ccts:RepresentationTerm>
              <ccts:DataType>OrderLine.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>OrderLine</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AcknowledgementResponseCode" type="res:DerivedCodeType"/>
  <xsd:element name="AdditionalDocumentReference" type="cat:DocumentReferenceType"/>
  <xsd:element name="CancelledByDate" type="rt:DateType"/>
  <xsd:element name="ContractDocumentReference" type="cat:DocumentReferenceType"/>
  <xsd:element name="DestinationCountry" type="cat:CountryType"/>
  <xsd:element name="EarliestDate" type="rt:DateType"/>
  <xsd:element name="FreightForwarderParty" type="cat:PartyType"/>
  <xsd:element name="LineItemCountQuantity" type="rt:QuantityType"/>
  <xsd:element name="OriginatorParty" type="cat:PartyType"/>
  <xsd:element name="PricingCurrencyCode" type="cur:DerivedCodeType"/>
  <xsd:element name="QuoteDocumentReference" type="cat:DocumentReferenceType"/>
  <xsd:element name="TotalPackagesQuantity" type="rt:QuantityType"/>
  <xsd:element name="TransactionCurrencyCode" type="cur:DerivedCodeType"/>
  <xsd:element name="ValidityDurationMeasure" type="rt:MeasureType"/>
</xsd:schema>
