src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/maindoc/UBL-OrderResponseSimple-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)

  Schema generated by UBL inter-schema helper (UBLish) v1.0-beta.11
      (http://SoftML.Net/jedi/ubl/sw/UBLish)
  Running on XPS v3.3 (http://SoftML.Net/xps)


  Document Type:     OrderResponseSimple
  Generated On:      Wed Nov 12 02:50:34 2003
-->
<xsd:schema version="1:0-beta"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:oasis:names:tc:ubl:OrderResponseSimple:1:0-beta"
  xmlns="urn:oasis:names:tc:ubl:OrderResponseSimple:1:0-beta"
  xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
  xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
  xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
  xmlns:stat="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>
  <xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
   schemaLocation="../common/UBL-CoreComponentParameters-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
   schemaLocation="../common/UBL-RepresentationTerms-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1:0-beta"
   schemaLocation="../common/UBL-Reusable-1.0-beta.xsd" />
  <xsd:import namespace="urn:oasis:names:tc:ubl:codelist:DocumentStatusCode:1:0-beta"
   schemaLocation="../codelist/use/UBL-CodeList-DocumentStatusCode-Use-1.0-beta.xsd" />
  <xsd:element name="OrderResponseSimple" type="OrderResponseSimpleType" />
  <xsd:complexType name="OrderResponseSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:CategoryCode>ABIE</ccts:CategoryCode>
          <ccts:DictionaryEntryName>Order Response Simple. Details</ccts:DictionaryEntryName>
          <ccts:Definition>The document responding to the Buyer to indicate simple acceptance or rejection of the entire Order.</ccts:Definition>
          <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
          <ccts:PropertyTerm>Details</ccts:PropertyTerm>
          <ccts:RepresentationTerm>Details</ccts:RepresentationTerm>
          <ccts:BusinessTerm>Order Acknowledgement, PO Response</ccts:BusinessTerm>
        </ccts:Component>
        <ccts:Instance>
          <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
          <ccts:Prefix>rs</ccts:Prefix>
        </ccts:Instance>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cat:ID" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>The Order Response Id element is a unique number assigned to the OrderResponse by the Seller.</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Copy. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether a document is a copy (true) or not (false) </ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>Copy</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:GUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Globally Unique_  Identifier. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A computer generated unique identifier for the document, which is guaranteed to be unique</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:QualifierPropertyTerm>GloballyUnique</ccts:QualifierPropertyTerm>
              <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:IssueDate" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Issue Date. Date</ccts:DictionaryEntryName>
              <ccts:Definition>A date (and potentially time) stamp denoting when the order response was issued.</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>Issue_Date</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
              <ccts:DataType>Date_DateTime.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="DocumentStatusCode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Document Status. Code</ccts:DictionaryEntryName>
              <ccts:Definition>Identifies the status of the document with regard to its original state</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>Document_Status</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
              <ccts:DataType>Code.Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
              <!-- Data and values stored in this space are meant for instance-processing purposes, and are non-normative. -->
              <ccts:Prefix>stat</ccts:Prefix>
            </ccts:Instance>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:Note" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>Contains any free form text pertinent to the entire document or to the document message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure. </ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="AcceptedIndicator" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Accepted. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether the order was accepted (true) or not (false).</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>Accepted</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="RejectionNote" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>BBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Rejection Note. Text</ccts:DictionaryEntryName>
              <ccts:Definition>The reason for rejection if the order was not accepted.</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>Rejection_Note</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text.Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:OrderReference" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Order Reference</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order Response (Simple) with the Order it refers to.</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>OrderReference</ccts:PropertyTerm>
              <ccts:RepresentationTerm>OrderReference</ccts:RepresentationTerm>
              <ccts:DataType>OrderReference.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>OrderReference</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Buyer Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the buyer involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>BuyerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>BuyerParty</ccts:RepresentationTerm>
              <ccts:DataType>BuyerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>BuyerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
              <ccts:DictionaryEntryName>Order Response Simple. Seller Party</ccts:DictionaryEntryName>
              <ccts:Definition>Associates the Order with information about the seller involved in the transaction.</ccts:Definition>
              <ccts:ObjectClass>OrderResponseSimple</ccts:ObjectClass>
              <ccts:PropertyTerm>SellerParty</ccts:PropertyTerm>
              <ccts:RepresentationTerm>SellerParty</ccts:RepresentationTerm>
              <ccts:DataType>SellerParty.Type</ccts:DataType>
              <ccts:AssociatedObjectClass>SellerParty</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AcceptedIndicator" type="rt:IndicatorType"/>
  <xsd:element name="DocumentStatusCode" type="stat:DerivedCodeType"/>
  <xsd:element name="RejectionNote" type="rt:TextType"/>
</xsd:schema>
