src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/common/UBL-CoreComponentTypes-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Langauge Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     CoreComponentTypes

-->
<xsd:schema version="1:0-beta"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 targetNamespace="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0-beta"
 xmlns:cct="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0-beta"
 xmlns="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0-beta"
 xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
 elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
		schemaLocation="UBL-CoreComponentParameters-1.0-beta.xsd"/>

	<!-- ===== CCT: AmountType ===== -->
	<xsd:element name="Amount" type="cct:AmountType" />
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Amount. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
					<ccts:ObjectClass>Amount</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="currencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="codeListVersionID" type="xsd:token" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== CCT: BinaryObjectType ===== -->
	<xsd:element name="BinaryObject" type="cct:BinaryObjectType" />
	<xsd:complexType name="BinaryObjectType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Binary Object. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
					<ccts:ObjectClass>Binary Object</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:token" use="optional"/>
				<xsd:attribute name="mimeCode" type="xsd:token" use="optional"/>
				<xsd:attribute name="encodingCode" type="xsd:token" use="optional"/>
				<xsd:attribute name="characterSetCode" type="xsd:token" use="optional"/>
				<xsd:attribute name="URI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="filename" type="xsd:token" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== CCT: CodeType ===== -->
	<xsd:element name="Code" type="cct:CodeType" />
	<xsd:complexType name="CodeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Code. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Code</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="listID" type="xsd:token" use="optional"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="listAgencyName" type="xsd:token" use="optional"/>
				<xsd:attribute name="listName" type="xsd:token" use="optional"/>
				<xsd:attribute name="listVersionID" type="xsd:token" use="optional"/>
				<xsd:attribute name="name" type="xsd:token" use="optional"/>
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
				<xsd:attribute name="listURI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== CCT: DateTimeType ===== -->
	<xsd:element name="DateTime" type="cct:DateTimeType" />
	<xsd:simpleType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Date Time. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Date Time</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>

	<!-- ===== CCT: IdentifierType ===== -->
	<xsd:element name="Identifier" type="cct:IdentifierType" />
	<xsd:complexType name="IdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Identifier. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Identifier</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeName" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeAgencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeAgencyName" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== CCT: IndicatorType ===== -->
	<xsd:element name="Indicator" type="cct:IndicatorType" />
	<xsd:simpleType name="IndicatorType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Indicator. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</ccts:Definition>
					<ccts:ObjectClass>Indicator</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>

	<!-- ===== CCT: MeasureType ===== -->
	<xsd:element name="Measure" type="cct:MeasureType" />
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Measure. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A numeric value determined by measuring an object along with the specified unit of measure.</ccts:Definition>
					<ccts:ObjectClass>Measure</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:token" use="optional"/>
				<xsd:attribute name="unitCodeListVersionID" type="xsd:token" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== CCT: NumericType ===== -->
	<xsd:element name="NumericType" type="cct:NumericType" />
	<xsd:simpleType name="NumericType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Numeric. Type</ccts:DictionaryEntryName>
					<ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
					<ccts:ObjectClass>Numeric</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>

	<!-- ===== CCT: QuantityType ===== -->
	<xsd:element name="Quantity" type="cct:QuantityType" />
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A counted number of non-monetary units possibly including fractions.</ccts:Definition>
					<ccts:ObjectClass>Quantity</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:token" use="optional"/>
				<xsd:attribute name="unitCodeListID" type="xsd:token" use="optional"/>
				<xsd:attribute name="unitCodeListAgencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="unitCodeListAgencyName" type="xsd:token" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== CCT: TextType ===== -->
	<xsd:element name="Text" type="cct:TextType" />
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>CCT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Text. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
					<ccts:ObjectClass>Text</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
				<xsd:attribute name="languageLocaleID" type="xsd:token" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
