src/examples/web/examples/xforms/xforms-ubl/ubl-xsd/common/UBL-RepresentationTerms-1.0-beta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Universal Business Language (UBL) Schema 1.0-beta

  Copyright (C) OASIS Open (2003). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Langauge Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     RepresentationTerms

-->
<xsd:schema version="1:0-beta"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 targetNamespace="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
 xmlns:rt="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
 xmlns="urn:oasis:names:tc:ubl:RepresentationTerms:1:0-beta"
 xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
 xmlns:cct="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0-beta"
 elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0-beta"
		schemaLocation="UBL-CoreComponentTypes-1.0-beta.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0-beta"
		schemaLocation="UBL-CoreComponentParameters-1.0-beta.xsd"/>

	<!-- ===== RT: AmountType ===== -->
	<xsd:element name="Amount" type="rt:AmountType" />
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Amount. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
					<ccts:ObjectClass>Amount</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:AmountType">
				<xsd:attribute name="currencyID" type="xsd:token" use="required"/>
				<xsd:attribute name="codeListVersionID" use="prohibited"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: BinaryObjectType ===== -->
	<xsd:element name="BinaryObject" type="rt:BinaryObjectType" />
	<xsd:complexType name="BinaryObjectType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Binary Object. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
					<ccts:ObjectClass>Binary Object</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:BinaryObjectType">
				<xsd:attribute name="mimeCode" type="xsd:token"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: GraphicType ===== -->
	<xsd:element name="Graphic" type="rt:GraphicType" />
	<xsd:complexType name="GraphicType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Graphic_ Binary Object. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
					<ccts:QualifierObjectClass>Graphic</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Binary Object</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:BinaryObjectType">
				<xsd:attribute name="characterSetCode" use="prohibited"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: PictureType ===== -->
	<xsd:element name="Picture" type="rt:PictureType" />
	<xsd:complexType name="PictureType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Picture_ Binary Object. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A visual representation of a person, object, or scene.</ccts:Definition>
					<ccts:QualifierObjectClass>Picture</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Binary Object</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:BinaryObjectType">
				<xsd:attribute name="characterSetCode" use="prohibited"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: SoundType ===== -->
	<xsd:element name="Sound" type="rt:SoundType" />
	<xsd:complexType name="SoundType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Sound_ Binary Object. Type</ccts:DictionaryEntryName>
					<ccts:Definition>An audio encoding represented as a binary object.</ccts:Definition>
					<ccts:QualifierObjectClass>Sound</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Binary Object</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:BinaryObjectType">
				<xsd:attribute name="characterSetCode" use="prohibited"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: VideoType ===== -->
	<xsd:element name="Video" type="rt:VideoType" />
	<xsd:complexType name="VideoType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Video_ Binary Object. Type</ccts:DictionaryEntryName>
					<ccts:Definition>Relating to the recording, reproducing or broadcasting of visual images on magnetic tape or digitially.</ccts:Definition>
					<ccts:QualifierObjectClass>Video</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Binary Object</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:BinaryObjectType">
				<xsd:attribute name="characterSetCode" use="prohibited"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: CodeType ===== -->
	<xsd:element name="CodeContent" type="rt:CodeContentType" />
	<xsd:simpleType name="CodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:element name="CodeType" type="rt:CodeType" />
	<xsd:complexType name="CodeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Code. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Code</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="rt:CodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: DateTimeType ===== -->
	<xsd:element name="DateTime" type="rt:DateTimeType" />
	<xsd:simpleType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Date Time. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Date Time</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="cct:DateTimeType"/>
	</xsd:simpleType>

	<!-- ===== RT: DateType ===== -->
	<xsd:element name="Date" type="rt:DateType" />
	<xsd:simpleType name="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Date_ Date Time. Type</ccts:DictionaryEntryName>
					<ccts:Definition>DateType represents one calendar day according the Gregorian calendar.</ccts:Definition>
					<ccts:QualifierObjectClass>Date</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Date Time</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>

	<!-- ===== RT: TimeType ===== -->
	<xsd:element name="Time" type="rt:TimeType" />
	<xsd:simpleType name="TimeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Time_ Date Time. Type</ccts:DictionaryEntryName>
					<ccts:Definition>TimeType is the instance of time that occurs every day.</ccts:Definition>
					<ccts:QualifierObjectClass>Time</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Date Time</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:time"/>
	</xsd:simpleType>

	<!-- ===== RT: IdentifierType ===== -->
	<xsd:element name="Identifier" type="rt:IdentifierType" />
	<xsd:complexType name="IdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Identifier. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Identifier</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cct:IdentifierType"/>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: IndicatorType ===== -->
	<xsd:element name="Indicator" type="rt:IndicatorType" />
	<xsd:simpleType name="IndicatorType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Indicator. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</ccts:Definition>
					<ccts:ObjectClass>Indicator</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="cct:IndicatorType">
			<xsd:pattern value="false"/>
			<xsd:pattern value="true"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- ===== RT: MeasureType ===== -->
	<xsd:element name="Measure" type="rt:MeasureType" />
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Measure. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A numeric value determined by measuring an object along with the specified unit of measure.</ccts:Definition>
					<ccts:ObjectClass>Measure</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:MeasureType">
				<xsd:attribute name="unitCode" type="xsd:token" use="required"/>
				<xsd:attribute name="unitCodeListVersionID" use="prohibited"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: NumericType ===== -->
	<xsd:element name="Numeric" type="rt:NumericType" />
	<xsd:simpleType name="NumericType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Numeric. Type</ccts:DictionaryEntryName>
					<ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
					<ccts:ObjectClass>Numeric</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="cct:NumericType"/>
	</xsd:simpleType>

	<!-- ===== RT: ValueType ===== -->
	<xsd:element name="Value" type="rt:ValueType" />
	<xsd:simpleType name="ValueType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Value_ Numeric. Type</ccts:DictionaryEntryName>
					<ccts:Definition/>
					<ccts:QualifierObjectClass>Value</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Numeric</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="cct:NumericType"/>
	</xsd:simpleType>

	<!-- ===== RT: PercentType ===== -->
	<xsd:element name="Percent" type="rt:PercentType" />
	<xsd:simpleType name="PercentType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Percent_ Numeric. Type</ccts:DictionaryEntryName>
					<ccts:Definition>PercentType indicates the percentage.</ccts:Definition>
					<ccts:QualifierObjectClass>Percent</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Numeric</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="cct:NumericType"/>
	</xsd:simpleType>

	<!-- ===== RT: RateType ===== -->
	<xsd:element name="Rate" type="rt:RateType" />
	<xsd:simpleType name="RateType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Rate_ Numeric. Type</ccts:DictionaryEntryName>
					<ccts:Definition>Rate is a value expresses the ratio per specified unit and a rate basis unit.</ccts:Definition>
					<ccts:QualifierObjectClass>Rate</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Numeric</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="cct:NumericType"/>
	</xsd:simpleType>

	<!-- ===== RT: QuantityType ===== -->
	<xsd:element name="Quantity" type="rt:QuantityType" />
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A counted number of non-monetary units possibly including fractions.</ccts:Definition>
					<ccts:ObjectClass>Quantity</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:QuantityType">
				<xsd:attribute name="unitCode" type="xsd:token" use="required"/>
				<xsd:attribute name="unitCodeListID" use="prohibited"/>
				<xsd:attribute name="unitCodeListAgencyID" use="prohibited"/>
				<xsd:attribute name="unitCodeListAgencyName" use="prohibited"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: TextType ===== -->
	<xsd:element name="Text" type="rt:TextType" />
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Text. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
					<ccts:ObjectClass>Text</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:TextType">
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ===== RT: NameType ===== -->
	<xsd:element name="Name" type="rt:NameType" />
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:CategoryCode>RT</ccts:CategoryCode>
					<ccts:DictionaryEntryName>Name_ Text. Type</ccts:DictionaryEntryName>
					<ccts:Definition>NameType is a human readable indication of names.</ccts:Definition>
					<ccts:QualifierObjectClass>Name</ccts:QualifierObjectClass>
					<ccts:ObjectClass>Text</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="cct:TextType">
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
