xforms/jvm/src/main/resources/ops/xforms/xforms-server-response.rng

<!--
  Copyright (C) 2010 Orbeon, Inc.

  This program is free software; you can redistribute it and/or modify it under the terms of the
  GNU Lesser General Public License as published by the Free Software Foundation; either version
  2.1 of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Lesser General Public License for more details.

  The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
  -->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xf="http://www.w3.org/2002/xforms"
         xmlns:xxf="http://orbeon.org/oxf/xml/xforms">

    <start>
        <choice>
            <element name="xxf:event-response">
                <optional>
                    <element name="xxf:static-state">
                        <attribute name="container-type">
                            <choice>
                                <value>servlet</value>
                                <value>portlet</value>
                            </choice>
                        </attribute>
                        <data type="string"/>
                    </element>
                </optional>
                <optional>
                    <optional>
                        <element name="xxf:dynamic-state">
                            <data type="string"/>
                        </element>
                    </optional>
                    <element name="xxf:action">
                        <optional>
                            <element name="xxf:control-values">
                                <zeroOrMore>
                                    <choice>
                                        <element name="xxf:control">
                                            <attribute name="id">
                                                <data type="string"/>
                                            </attribute>
                                            <!-- Optional attributes for all controls -->
                                            <optional>
                                                <attribute name="visited">
                                                    <choice>
                                                        <value>true</value>
                                                        <value>false</value>
                                                    </choice>
                                                </attribute>
                                            </optional>
                                            <optional>
                                                <attribute name="hint"/>
                                            </optional>
                                            <optional>
                                                <attribute name="alert"/>
                                            </optional>
                                            <optional>
                                                <attribute name="label"/>
                                            </optional>
                                            <optional>
                                                <attribute name="title"/>
                                            </optional>
                                            <optional>
                                                <attribute name="alt"/>
                                            </optional>
                                            <optional>
                                                <attribute name="help"/>
                                            </optional>
                                            <optional>
                                                <!-- Space-separated list of attributes names prefixed with either '-' or an optional '+' -->
                                                <attribute name="class"/>
                                            </optional>
                                            <!-- NOTE: style attribute is output via xxf:attribute -->
                                            <choice>
                                                <!-- Optional attributes for xf:output -->
                                                <group>
                                                    <optional>
                                                        <attribute name="mediatype"/>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="filename"/>
                                                    </optional>
                                                </group>
                                                <!-- Optional attributes for xf:upload -->
                                                <group>
                                                    <optional>
                                                        <attribute name="mediatype"/>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="state">
                                                            <choice>
                                                                <value>empty</value>
                                                                <value>file</value>
                                                            </choice>
                                                        </attribute>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="size"/>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="filename"/>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="accept"/>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="progress-received"/>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="progress-expected"/>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="progress-state"/>
                                                    </optional>
                                                </group>
                                                <!-- Optional attributes for xf:input -->
                                                <group>
                                                    <optional>
                                                        <attribute name="size">
                                                            <optional>
                                                                <data type="nonNegativeInteger"/>
                                                            </optional>
                                                        </attribute>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="maxlength">
                                                            <optional>
                                                                <data type="nonNegativeInteger"/>
                                                            </optional>
                                                        </attribute>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="autocomplete">
                                                            <choice>
                                                                <value>on</value>
                                                                <value>off</value>
                                                            </choice>
                                                        </attribute>
                                                    </optional>
                                                </group>
                                                <!-- Optional attributes for xf:textarea -->
                                                <group>
                                                    <optional>
                                                        <attribute name="maxlength">
                                                            <optional>
                                                                <data type="nonNegativeInteger"/>
                                                            </optional>
                                                        </attribute>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="cols">
                                                            <optional>
                                                                <data type="nonNegativeInteger"/>
                                                            </optional>
                                                        </attribute>
                                                    </optional>
                                                    <optional>
                                                        <attribute name="rows">
                                                            <optional>
                                                                <data type="nonNegativeInteger"/>
                                                            </optional>
                                                        </attribute>
                                                    </optional>
                                                </group>
                                                <!-- Other controls -->
                                                <empty/>
                                            </choice>
                                            <ref name="model-item-properties"/>
                                            <optional>
                                                <attribute name="static">
                                                    <choice>
                                                        <value>true</value>
                                                        <value>false</value>
                                                    </choice>
                                                </attribute>
                                            </optional>
                                            <interleave>
                                                <!-- For value controls only -->
                                                <optional>
                                                    <element name="xxf:value">
                                                        <data type="string"/>
                                                    </element>
                                                </optional>
                                                <!-- For selection controls only -->
                                                <optional>
                                                    <element name="xxf:itemset">
                                                        <optional>
                                                            <attribute name="group"/>
                                                        </optional>
                                                        <data type="string"/>
                                                    </element>
                                                </optional>
                                                <zeroOrMore>
                                                    <!-- For switch/case only -->
                                                    <element name="xxf:case">
                                                        <attribute name="id"/>
                                                        <attribute name="visibility">
                                                            <choice>
                                                                <value>hidden</value>
                                                                <value>visible</value>
                                                            </choice>
                                                        </attribute>
                                                    </element>
                                                </zeroOrMore>
                                            </interleave>
                                        </element>
                                        <element name="xxf:init">
                                            <attribute name="id"/>
                                            <optional>
                                                <attribute name="relevant">
                                                    <choice>
                                                        <value>true</value>
                                                        <value>false</value>
                                                    </choice>
                                                </attribute>
                                            </optional>
                                            <optional>
                                                <attribute name="readonly">
                                                    <choice>
                                                        <value>true</value>
                                                        <value>false</value>
                                                    </choice>
                                                </attribute>
                                            </optional>
                                            <!-- For value controls only -->
                                            <optional>
                                                <element name="xxf:value">
                                                    <data type="string"/>
                                                </element>
                                            </optional>
                                        </element>
                                        <element name="xxf:dialog">
                                            <attribute name="id"/>
                                            <attribute name="visibility">
                                                <choice>
                                                    <value>hidden</value>
                                                    <value>visible</value>
                                                </choice>
                                            </attribute>
                                            <!-- For dialog positioning -->
                                            <optional>
                                                <attribute name="neighbor"/>
                                            </optional>
                                            <!-- For dialog constraining to viewport -->
                                            <optional>
                                                <attribute name="constrain">
                                                    <choice>
                                                        <value>true</value>
                                                        <value>false</value>
                                                    </choice>
                                                </attribute>
                                            </optional>
                                        </element>
                                        <element name="xxf:attribute">
                                            <attribute name="name"/>
                                            <attribute name="for"/>
                                            <optional>
                                                <data type="string"/>
                                            </optional>
                                        </element>
                                        <element name="xxf:text">
                                            <attribute name="id"/>
                                            <attribute name="for"/>
                                            <optional>
                                                <data type="string"/>
                                            </optional>
                                        </element>
                                        <element name="xxf:delete-repeat-elements">
                                            <attribute name="id">
                                                <data type="string"/>
                                            </attribute>
                                            <attribute name="parent-indexes">
                                                <data type="string"/>
                                            </attribute>
                                            <attribute name="count">
                                                <data type="positiveInteger"/>
                                            </attribute>
                                        </element>
                                        <!-- For repeat iterations only -->
                                        <element name="xxf:repeat-iteration">
                                            <attribute name="id">
                                                <data type="string"/>
                                            </attribute>
                                            <attribute name="iteration">
                                                <data type="positiveInteger"/>
                                            </attribute>
                                            <ref name="model-item-properties"/>
                                        </element>
                                        <!-- Inner HTML for an entire control -->
                                        <element name="xxf:inner-html">
                                            <attribute name="id">
                                                <data type="string"/>
                                            </attribute>
                                            <optional>
                                                <element name="xxf:destroy">
                                                    <data type="string"/>
                                                </element>
                                            </optional>
                                            <element name="xxf:value">
                                                <data type="string"/>
                                            </element>
                                            <optional>
                                                <element name="xxf:init">
                                                    <data type="string"/>
                                                </element>
                                            </optional>
                                        </element>
                                    </choice>
                                </zeroOrMore>
                            </element>
                        </optional>
                        <optional>
                            <element name="xxf:repeat-hierarchy">
                                <data type="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="xxf:repeat-indexes">
                                <zeroOrMore>
                                    <element name="xxf:repeat-index">
                                        <attribute name="id"/>
                                        <attribute name="new-index">
                                            <data type="nonNegativeInteger"/>
                                        </attribute>
                                    </element>
                                </zeroOrMore>
                            </element>
                        </optional>
                        <optional>
                            <element name="xxf:poll">
                                <optional>
                                    <attribute name="delay"/>
                                </optional>
                            </element>
                        </optional>
                        <zeroOrMore>
                            <element name="xxf:message">
                                <attribute name="level"/>
                                <data type="string"/>
                            </element>
                        </zeroOrMore>
                        <zeroOrMore>
                            <choice>
                                <!-- Only for `javascript:` loads -->
                                <element name="xxf:load">
                                    <attribute name="resource"/>
                                    <attribute name="show">
                                        <choice>
                                            <value>replace</value>
                                            <value>new</value>
                                        </choice>
                                    </attribute>
                                    <optional>
                                        <attribute name="target"/>
                                    </optional>
                                    <optional>
                                        <attribute name="show-progress">
                                            <choice>
                                                <value>true</value>
                                                <value>false</value>
                                            </choice>
                                        </attribute>
                                    </optional>
                                </element>
                                <element name="xxf:script">
                                    <attribute name="name"/>
                                    <attribute name="target-id"/>
                                    <attribute name="observer-id"/>
                                    <zeroOrMore>
                                        <element name="xxf:param">
                                            <data type="string"/>
                                        </element>
                                    </zeroOrMore>
                                </element>
                            </choice>
                        </zeroOrMore>
                        <optional>
                            <choice>
                                <element name="xxf:focus">
                                    <attribute name="control-id"/>
                                </element>
                                <element name="xxf:blur">
                                    <attribute name="control-id"/>
                                </element>
                            </choice>
                        </optional>
                        <optional>
                            <element name="xxf:help">
                                <attribute name="control-id"/>
                            </element>
                        </optional>
                        <zeroOrMore>
                            <element name="xxf:submission">
                                <attribute name="url-type">
                                    <choice>
                                        <value>action</value>
                                        <value>resource</value>
                                    </choice>
                                </attribute>
                                <attribute name="submission-id"/>
                                <optional>
                                    <attribute name="show-progress">
                                        <choice>
                                            <value>true</value>
                                            <value>false</value>
                                        </choice>
                                    </attribute>
                                </optional>
                                <optional>
                                    <attribute name="target"/>
                                </optional>
                            </element>
                        </zeroOrMore>
                        <!-- Only for non-`javascript:` loads -->
                        <zeroOrMore>
                            <element name="xxf:load">
                                <attribute name="resource"/>
                                <attribute name="show">
                                    <choice>
                                        <value>replace</value>
                                        <value>new</value>
                                    </choice>
                                </attribute>
                                <optional>
                                    <attribute name="target"/>
                                </optional>
                                <optional>
                                    <attribute name="show-progress">
                                        <choice>
                                            <value>true</value>
                                            <value>false</value>
                                        </choice>
                                    </attribute>
                                </optional>
                            </element>
                        </zeroOrMore>
                    </element>
                    <optional>
                        <element name="xxf:errors">
                            <zeroOrMore>
                                <element name="xxf:error">
                                    <optional><attribute name="exception"/></optional>
                                    <optional><attribute name="file"/></optional>
                                    <optional><attribute name="line"/></optional>
                                    <optional><attribute name="column"/></optional>
                                    <data type="string"/>
                                </element>
                            </zeroOrMore>
                        </element>
                    </optional>
                </optional>
            </element>
            <element name="error">
                <element name="title"><data type="string"/></element>
                <optional>
                    <element name="body"><data type="string"/></element>
                </optional>
            </element>
        </choice>
    </start>

    <define name="model-item-properties">
        <optional>
            <attribute name="readonly">
                <choice>
                    <value>true</value>
                    <value>false</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="required">
                <choice>
                    <value>true</value>
                    <value>false</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="relevant">
                <choice>
                    <value>true</value>
                    <value>false</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="level">
                <choice>
                    <value/>
                    <value>error</value>
                    <value>warning</value>
                    <value>info</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="type"/>
        </optional>
        <optional>
            <attribute name="empty">
                <choice>
                    <value>true</value>
                    <value>false</value>
                </choice>
            </attribute>
        </optional>
    </define>

</grammar>
